In [ ]:
from Adversary import Adversary

In [2]:
texts = [
    'hello how are you doing? I spent all day watching the Ethereum charts',
    'please sir buy my viagra. pay me western union thanks'
]

labels = [
    0,
    1
]

In [3]:
gen = Adversary()

In [4]:
# apply generate() only to texts in the positive class (spam in this class)

spam_messages = [t for i, t in enumerate(texts) if labels[i] == 1]
texts_gen = gen.generate(spam_messages, text_sample_rate=5.0, word_sample_rate=0.5,
                         attacks={'synonym': 0.5, 'change_case': 0.8, 'letter_to_symbol': 0.5, 'delete_characters': 0.3})

In [5]:
texts_gen

[('please sir buy my viagra. pay me western union thanks', [], 0),
 (u'contact sir BuY my viAGRa forking me weSTERN union thanks',
  ['change_case', 'synonym'],
  0),
 (u'PLEASE SIR BuY my ViAGRA pay me western UNION thAnKs', ['change_case'], 0),
 (u'PLEAsE SiR BUY my viagra. pay me western unon tans',
  ['change_case', 'delete_characters'],
  0),
 (u'plae sir BUy my viagra. paY me wEsTN union thanks',
  ['change_case', 'delete_characters'],
  0)]

In [6]:
f = lambda x: 1 if x == 'please sir buy my viagra. pay me western union thanks' else 0
df_single, df_group = gen.attack(spam_messages, texts_gen, f)

In [7]:
df_single

,Caused Misclassifications,Always Misclassified,Never Misclassified
Attack,,,
Change Case,4,0,0
Delete Characters,2,0,0
Synonym,1,0,0

In [8]:
df_group

,Change Case,Delete Characters,Synonym,Caused Misclassifications,Always Misclassified,Never Misclassified
0,X,X,,2,0,0
1,X,,,1,0,0
2,X,,X,1,0,0
3,,X,,0,0,0
4,,,X,0,0,0
5,,X,X,0,0,0